.banner1-container {
  background-image: url("../resources/banner-1.jpg");
  height: 600px;
}

.banner1-content {
  margin-left: 200px;
  padding-top: 200px;
}

.banner1-header {
  color: #301934;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}

a.btn {
  background-color: #FF7218 !important;
  border-color: #FF7218 !important;
}

@media only screen and (max-width: 768px) {
  .banner1-container {
    background-size: 100vw;
    background-repeat: no-repeat;
    height: fit-content;
  }
  .banner1-content {
    text-align: left;
    margin: 0;
    padding: 200px 40px 20px;
  }
}
