.image-content1.col {
  background-image: url("../resources/img-1.jpg") !important;
  background-repeat: no-repeat;
  height: 100vh !important;
}

.section1-row {
  width: 100vw !important;
}

.section1-container {
  height: 526px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.section1-content {
  float: right;
  margin-top: 120px;
  margin-right: 60px;
}

.section1-content h3 {
  color: #301934;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}

.section1-content a {
  color: #301934;
}

.section1-content p {
  width: 400px;
}

/* .container {
  height: 600px;
} */
/*
.section1-row {
  margin-top: 300px;
} */

@media only screen and (max-width: 768px) {
  .image-content1.col {
    display: none;
  }
  .section1-content {
    margin: 0;
    padding: 20px;
    float: none;
    width: 100%;
  }
  .section1-content p {
    margin: 10px auto;
    width: 100%;
  }
  .section1-content h3 {
    width: 100%;
    margin: 20px auto 20px;
  }

  .section1-container {
    height: fit-content !important;
    padding: 20px !important;
  }
}

